<h2 style="text-align: center;"><font color="#008000">Парсер конкурентов</font>&nbsp;<img alt="cool" height="20" src="https://filyanin.ru/tools/ckeditor/plugins/smiley/images/shades_smile.gif" title="cool" width="20"></h2>
<hr>
<h3>&nbsp;</h3>
<form action="{{ url_for('handle_data') }}" method="post">
<h3 style="text-align: center;">Пароль:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input name="password" type="text"></h3>
<h3 style="text-align: center;">Отправить на почту:&nbsp;<input name="email" type="text"></h3>
<p align="center"><input name="start" type="submit"></p>
</form>
<p align="center">&nbsp;</p>
<hr>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center"><a href="https://freelancehunt.com/freelancer/XagLer.html">Coder</a></p>
